@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@300;500&display=swap');

body {
  @apply bg-darkGrey;
}

header {
  font-family: 'Poppins', sans-serif;
}
